@model Product

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Products</h1>
            <div class="d-flex justify-content-between my-3">
                <a class="btn btn-success text-white" asp-area="admin" asp-controller="product" asp-action="index">Go Back</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                              <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                              <tr>
                                 <td>
                                   <img width="100"  src="~/assets/uploads/images/@Model.ProductImage.Where(n => n.ProductId == Model.Id).FirstOrDefault().Image.Url" alt="image">
                                 </td>

                                  <td>
                                    @Model.Title
                                  </td>

                                   <td>
                                    @Model.Description
                                  </td>

                                   <td>
                                    @Model.Price
                                  </td>
                                   <td>
      
                                    <a asp-area="admin" asp-controller="product" asp-action="update" asp-route-id="@Model.Id" class="btn btn-warning mt-1">Update</a>
                                    <a asp-area="admin" asp-controller="product" asp-action="details" asp-route-id="@Model.Id" class="btn btn-danger m-1">Delete</a>

                                  </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>